body{
	
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 16px;
	padding-top: 70px;

}
body.home{
	padding-top: 0;
}

a:focus{
	outline: none;
	color: inherit;
	text-decoration: none;
}


.logo{
	width: 124px;
	height: 25px;
	position: relative;
	top: 25px;
	left: 30px;
}

.title{
	font-family: 'Oxygen', sans-serif;
	font-size: 100px;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.title--section{
	font-size: 32px;
	color: #323348;
	margin-top: 50px;
}

.title--smaller{
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #ffffff;
}

.button{
	color: #323348;
	font-size: 16px;
	font-weight: 400;
	background-color: #f9f9fb;
	text-align: center;
	padding: 14px 30px;
	margin-bottom: 50px;
	border-radius: 3px;
	border: 1px solid #8f92a5;
	display: inline-block;
	text-decoration: none;
	transition: all .22s;

}

.button:hover,
.button:focus{
	color: #323348;
	text-decoration: none;
	background-color: #f0f0f2;
}

.button--margin{
	margin-top: 50px;
	background-color: #f0f0f2;
}

.button--margin:hover{
	background-color: #c1c1c4;
}

.header{
	width: 100%;
	height: 70px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}
.header--scroll{
	background: #3c282a;
}


.background{
	background-image: url(../img/fundo.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.background::before{
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(183, 87, 87, .2);
	z-index: 1;

}


.background .container{
	z-index: 2;
	position: relative;
}

.navigation{
	float: right;
	margin-right: 50px;
}

.navigation__list{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;

}

.navigation__item{
    margin: 0 10px;
}	


.navigation__link{
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
}

.navigation__link:hover{
	color: #ffffff;
	text-decoration: none;
}

.navigation i{
	margin-left: 10px;
}

.nav__toggle{
    background: transparent;
    border: none;
    outline: none;
    width: 30px;
    height: 24px;
    position: absolute;
    right: 30px;
    top: 30px;
    display: none;
}
.nav__toggle:hover span,
.nav__toggle:hover span:nth-of-type(2){
    background: #e9680a;
    width: 30px;
}

.nav__toggle span{
    width: 20px;
    height: 4px;
    background: #e9680a;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .22s;
}

.nav__toggle span:nth-of-type(2){
    top: 10px;
    width: 25px;
}

.nav__toggle span:nth-of-type(3){
    top: 20px;
    width: 30px;
}

.nav__toggle--open span{
    background: #F05544;
}

.nav__toggle--open span:nth-of-type(1){
    transform: rotate(45deg);
    width: 30px;
    top: 10px;
}
.nav__toggle--open span:nth-of-type(2){
    opacity: 0;
}
.nav__toggle--open span:nth-of-type(3){
    transform: rotate(-45deg);
    top: 10px;
}



.explores{
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #8f92a5;
	background-color: #ffffff;
	border-radius: 30px;
	min-width: 200px;
	padding: 0 10px;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	border: none;
	transition: all .22s;
}

.explores:hover,
.explores:focus{
	background-color: #f0f0f2;
	color: #323348;
	text-decoration: none;
	border: 1px solid #675052;
}

.explores__copy{
	font-size: 24px;
	margin-bottom: 30px;

}

.search{
	font-size: 16px;
	text-align: left;
	color: #8f92a5;
	background-color: #ffffff;
	border-radius: 30px;
	width: 400px;
	padding-left: 15px;
	height: 50px;
	border: none;
	outline: none;

}

.search-artist{
	background-color: #3c282a;
	height: 200px;
}

.search-background{
	width: 100%;
	height: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 2000;
	transform: translateY(-100%);
	transition: all .22s;
}

.search-content{
	width: 500px;
	margin: 0 auto;
	padding: 30px;
	position: relative;
	
}
.search-content__open{
	transform: translateY(0);
}

.search-content__button{
	position: absolute;
	height: 48px;
	line-height: px;
	border: none;
	color: #3c282a;
	background-color: white;
	width: 48px;
	opacity: 1;
	top: 21px;
	right: 21px;
	outline: none;

}

.search-content__title{
	font-size: 20px;
	color: #5c5c74;
	font-weight: 700;
}

.search-content__subtitle{
	font-size: 16px;
	line-height: 1.6;
	color: #8f92a5;
	margin: 5px 0;
}

.search-content__search{
	height: 48px;
	padding: 0 18px;
	font-size: 16px;
	font-weight: 700;
	width: 100%;
	color: #4b4e56;
	border: none;
	border-bottom: 1px solid #ced0e1;
	border-radius: 0;
	background-color: transparent;
	padding-left: 48px;
	padding-right: 48px;
	outline: none;

}


.festivais{
	background-color: #f4f4f7;
	height: auto;
	position: relative;
}

.festival{
	position: relative;
	background-color: #ffffff;
	text-align: center;
	border: 1px solid #dedfe6;
	margin-bottom: 50px;
	overflow: hidden;
	padding-bottom: 160px;
	
}

.festival-hide{
	width: 100%;
	height: 375px;
	background-color: white;
	position: absolute;
	text-align: center;
	transform: translateY(-100%);
	transition: all .22s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	

}

.festival-hide--open .festival-hide{
	transform: translateY(0);
	z-index: 2;
}
.festival-hide--open .festival__footer{
	z-index: 2;
}

.festival__button{
	position: absolute;
	top: 21px;
	right: 21px;
	height: 20px;
	display: block;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 22px;
	outline: none;
}

.festival__button i{
	
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	width: 26px;
}

.festival__image{
	width: 100%;
	height: 230px;

}

.festival__logo{
	width: 30px;
	height: 20px;
	
}

.festival__logo--bigger{
	width: 70px;
	height: 50px;
}

.festival__content{
	position: absolute;
	width: 100%;
	z-index: 1;
	background: white;
	padding-bottom: 20px;
	transition: all .22s;
	bottom: 0;
}



.festival__title{
	font-family: 'Oxygen', sans-serif;
	color: #323348;
	font-size: 20px;
	font-weight: 700;
}

.festival__copy{
	color: #8989a3;
}

.festival__copy--category{
	font-weight: 700;
	font-size: 18px;
}

.festival__footer{
	border-top: 2px solid  #f4f4f7;
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;


}

.festival__link{
	color: inherit;
	text-decoration: none;
}

.festival__link:hover{
	color: inherit;
	text-decoration: none;
}

.festival__link:hover .festival__content{
	bottom: 50px;
	}

.festival__link:hover .festival__cta,
.festival__link:focus .festival__cta{
	background-color: #3c282a;
	
}

.festival__cta{
	width: 50%;
	color: white;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	background-color: #3c282a;
	border-radius: 6px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 3px;
	height: 40px;
	transition: all .22s;
	
}

.festival__cta--smaller{
	width: 210px;
}

.festival__cta--smaller:hover{
	border: 1px solid white;
}

.festival__cta:hover,
.festival__cta:focus{
	color: white;
	text-decoration: none;
}


.news{
	margin-left: 10px;
	margin-right: 10px;
	outline: none;
}


.news__image{
	width: 100%;
	height: 180px;
}

.news__content{
	background-color: #f4f4f7;
	padding: 20px;
	height: 150px;
}

.news__date{
	color: #8282a1;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.75;

}

.news__title{
	font-family: 'Oxygen', sans-serif;
	color: #323348;
	font-weight: 700;
	font-size: 18px;

}

.news__link{
	text-decoration: none;
}

.news__link:hover,
.news__link:focus{
	text-decoration: none;
}

.footer{
	background-color: #3c282a;
	height: 200px;
	clear: both;
	
}

.footer-music{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer__content{
	height: 
}

.footer__link{
	color: white;
	text-decoration: none;
	padding: 0px 20px;
	border: 1px solid transparent;
}

.footer__link:hover{
	color: white;
	text-decoration: none;
	border-bottom: 1px solid  #d8d8e6;
}

.footer__logo{
	width: 100px;
	margin-top: 50px;

}

.footer__copyright{
	font-size: 0.875em;
}

/* Mudança de página de HTML */

.festival__filter{
	background-color: #f9f9fb;
	color: #8989a3;
	height: 50px;
	width: 300px;
	padding: 14px 20px;
	border-radius: 6px;
	border: 1px solid #b2b4c8;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	outline: none;


}

.spacer{
	margin-top: 40px;
}


/* Informaçao do festival HTML*/


.festival-detail__background{
	position: relative;
	
}

.festival-detail__background::before{
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(104, 114, 140, .4);
	z-index: 1;

}


.festival-detail__image{
	width: 100%;
	height: 400px;
	display: block;
}

.festival-detail{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	z-index: 2;

}


.festival-detail__title{
	font-family: 'Oxygen';
	font-size: 56px;
	font-weight: 900;
	color: white;
	text-align: center;
}

.festival-detail__copy{
	font-family: 'Oxygen';
	font-size: 20px;
	font-weight: 700;
}



.info{
	height: 700px;
	background-color: white;
}

.info__logo{
	width: 102px;
	height: 65px;
	border-radius: 15px;
	line-height: 20px;
	background-size: cover;
	display: block;
	margin: 0 auto;
}

.info__title{
	color: #dfe2ec;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

.info__date{
	color: #5c5c74;
	font-size: 20px;
	font-weight: 400;


}

.info__copy{
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
	text-align: center;
	color: #8f92a5;
}

.headliners{
	background-color: #f9f9fc;
	padding-bottom: 80px;

}
.lineup__title{
	color: #8282a1;
	font-size: 32px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 60px;

}


.artist__image{
	width: 100%;
}



.artist__background{
	background: url(../img/martingarrix.jpg);
	background-position: 50% 60%;
	width: 100%;
	min-height: 550px;
	position: relative;
	opacity: .8;
	background-repeat: no-repeat;
	background-size: cover;
}

.gradient{
	width: 100%;
	height: 450px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient( 180deg, transparent 30%, white);


}

.artist-detail{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	z-index: 2;

}

.artist-detail__title{
	font-family: 'Oxygen';
	padding-bottom: 10px;
	font-size: 95px;
	font-weight: 700;
	letter-spacing: 8px;
	line-height: .9;
	color: black;
	text-align: center;
	text-transform: uppercase;

}


.artist__copy{
	position: relative;
	text-align: left;
	margin: 0 auto;
	line-height: 1.58;
	max-width: 700px;
	font-size: 18px;
	color: #333;
	z-index: 2;
}

.artist-others{
	height: auto;
	border-top: 1px solid black;
	text-align: center;
	margin-top: 40px;
}

.artist-others__container{
	outline: none;
	margin-top: 40px;
	text-align: center;
}

.artist-others__image{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transition: all .22s;
}

.artist-others__image:hover{
	opacity: .7;
}

.artist-others__name{
	color: black;
	font-weight: 700;
	font-size: 18px;
	padding: 30px;	
	
}

.sobre__title{
	font-family: 'Oxygen';
	font-size: 48px;
	color: black;
	text-align: center;
	padding: 20px;


}

.sobre__copy{
	font-size: 16px;
	color: black;

}

.politica{
	color: black;
}

.politica p{
	font-size: 16px;
	color: black;
}

/*Noticias*/

.featured{
	margin-top: 40px;
	margin-bottom: 40px;
}

.date{

	font-weight: 400;
	position: relative;
	font-size: 13px;
	text-transform: uppercase;
	color: #4a4a4a;
	line-height: 16px;
	letter-spacing: 3px;
	text-align: center;
	margin: 0 0 26px;
	border-bottom: 2px solid rgba(39, 45, 50, .1);
	padding: 0 10px 10px;
}

.date--noborder{
	border: none;
	text-align: left;
	padding: 0;
	margin: 0;
}

.date--margin{
	margin-top: 30px;
}

.featured__title{
	font-size: 40px;
	line-height: 48px;
	font-weight: 400;
	text-align: center;
	color: black;
}

.featured__image{
	background-image: url(../img/noticia.jpeg);
	text-decoration: none;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 417px;
	border-radius: 5px;
	margin: 20px 0 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	display: block;

}

.featured__copy{
	margin: 10px 0 10px;
	font-size: 15px;
	color: #3c3c3c;
	line-height: 23px;
}

.article{
	margin: 0 0 40px 0;
	list-style-type: none;
	border-top: 1px solid rgba(39, 45, 50, .1);
	border-bottom: 1px solid rgba(39, 45, 50, .1);

}

.article__row{
	display: flex;

}

.article__image--content{
	
}

.article__image{
	text-decoration: none;
	outline: none;

}

.article__image img{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 140px;
	height: 105px;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	
}

.article__content{
	
	min-height: 30px;
	margin-left: 20px;



}

.article__title{
	font-size: 22px;
	color: #1d1d1d;
	line-height: 26px;
	font-weight: 400;
	text-align: left;
}

.article__copy{
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 15px;
	color: #3c3c3c;
	line-height: 23px;

}

.article__continue{
	text-decoration: none;
	color: purple;
}

.musicPlayer{
	padding-bottom: 200px;
	overflow: hidden;
}















/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
		.title{
			font-size: 80px;
		}

		.title--section{
			font-size: 23px;
		}

		.nav{
			width: 100%;
		}

		.nav__toggle{
        display: block;
        z-index: 1;
   		}
		
		.navigation__list{
        display: flex;
        flex-direction:column;
        color: black;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background: #ffffff;
        transform: translateY(-100%);
        transform: all .5s;
    	}

	    .navigation__list--open{
	        transform: translateY(0);
	    }

	    .navigation__item{
	        margin: 20px 0;

	    }

	    .navigation__link{
	        display: inline-block;
	        font-size: 2em;
	        padding: 0 20px;
	        color: #3c282a;

	    }

	    .navigation__link:hover{
	    	color: #3c282a;
	    }
		.explores__copy{
			font-size: 25px;
		}

		.search{
			height: 40px;
		}

		.festival__filter{
			text-align: left;
			width: 100%;
		}

		.artist-detail__title{
			font-size: 50px;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		.title{
			font-size: 50px;
		}

		.title--section{
			font-size: 20px;
		}

		.title--smaller{
			font-size: 18px;
		}

		.explores__copy{
			font-size: 20px;
		}

		.search{
			width: 400px;
		}

		.news__content{
			height: 250px;
		}

		.festival__filter{
			display: none;
		}

		.festival-detail__title{
			font-size: 30px;
		}

		.featured__image{
			height: 300px;
		}

		.artist__copy{
			max-width: 400px;
			font-size: 14px;
		}

		.info__logo{
			width: 50px;
			height: 40px;
		}

		.artist-detail__title{
			font-size: 45px;
		}

		.artist-others__image{
			width: 100px;
			height: 100px;
		}

		.artist-others__name{
			font-size: 14px;
		}

		.sobre__title{
			font-size: 30px;
			font-weight: 700;
		}

		.sobre__copy{
			font-size: 14px;
			max-width: 900px;
		}

		.footer__content{
			
			padding: 7px;

		}

	
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    	.title{
    		font-size: 30px;
    	}
		.title--section{
			font-size: 20px;
		}

    	.title--smaller{
    		font-size: 18px;
    	}

		.explores__copy	{
			font-size: 15px;
		}

		.search{
			width: 300px;
		}

		.news__content{
			height: 200px;
		}

		.festival__filter{
			display: none;
		}

		.artist__copy{
			max-width: 300px;
			font-size: 14px;
		}

		.footer__content{
			display: none;
			font-size: 12px;
			padding: 3px;
		}

		.artist-detail__title{
			font-size: 35px;
		}

		.artist-others__name{
			padding: 20px;
		}

		.sobre__title{
			font-size: 14px;
			font-weight: 700;
		}

		.sobre__copy{
			font-size: 12px;
			max-width: 300px;
		}

		.politica p{
			font-size: 12px;	
		}

		
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
    	.title{
    		font-size: 20px;
    	}

    	.title--section{
    		font-size: 18px;
    	}

    	.title--smaller{
    		font-size: 18px;
    	}

		.artist-detail__title{
			font-size: 20px;
		}

		.search{
			width: 200px;
		}
    }









