.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.search-music{
  background: transparent;
  border: 0;
  display: inline-block;
  font-size: 1em;
  height: 100%;
  left: 0;
  margin: 0;
  outline: none;
  padding: 2px 6px;
  position: relative;
  width: 100%;
  color: white;
}

.search-music::placeholder{
  color: white;
}

.artistas-container{
  display: flex;
  justify-content: space-around;
}

.artistas-name{
  list-style-type: none;
  font-size: 1em;

}

.artistas__button{
  margin-left: 10px;
}

.music-container{
 width: 100%;
}



.video-container{
  margin-top: 50px;
 text-align: center;
  
}

.video{
  float: left;
  width: 33%;
}

.musica{
  color: purple;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
